{
  "openapi": "3.1.0",
  "info": {
    "title": "Visa Atlas public API",
    "version": "2026-09-09",
    "summary": "Open, source-linked immigration data and route matching.",
    "description": "Machine-readable contract for Visa Atlas public JSON endpoints. Factual records preserve their relevant government-source URL and stored check or review date. The data is compiled information, not legal advice.",
    "termsOfService": "https://visaatlas.org/terms",
    "contact": {
      "name": "Visa Atlas corrections",
      "email": "corrections@visaatlas.org",
      "url": "https://visaatlas.org/corrections"
    },
    "license": {
      "name": "CC BY 4.0",
      "url": "https://creativecommons.org/licenses/by/4.0/"
    }
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://visaatlas.org"
    }
  ],
  "externalDocs": {
    "description": "Human API reference",
    "url": "https://visaatlas.org/api"
  },
  "tags": [
    {
      "name": "Catalog",
      "description": "Public dataset discovery."
    },
    {
      "name": "Reference datasets",
      "description": "Routes, destinations, policies and practical tools."
    },
    {
      "name": "Figure datasets",
      "description": "Numeric and derived data with sources and dates."
    },
    {
      "name": "Route matching",
      "description": "Informational profile-to-route matching."
    }
  ],
  "paths": {
    "/api/openapi.json": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "operationId": "getOpenApiDocument",
        "summary": "OpenAPI document",
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenApiDocument"
                }
              }
            }
          }
        }
      }
    },
    "/api/public": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "operationId": "getPublicDatasetCatalog",
        "summary": "Public dataset catalogue",
        "responses": {
          "200": {
            "description": "Public dataset catalogue.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicDatasetCatalog"
                }
              }
            }
          }
        }
      }
    },
    "/api/public/visas": {
      "get": {
        "tags": [
          "Reference datasets"
        ],
        "operationId": "getVisas",
        "summary": "Visa routes",
        "description": "Visa and residence routes with sponsorship, settlement, summary, primary-source and review information. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#visas"
        },
        "responses": {
          "200": {
            "description": "Visa routes JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 1414,
        "x-date-modified": "2026-09-10",
        "x-human-path": "https://visaatlas.org/visas",
        "x-primary-source-note": "Figures include links to the relevant official sources. Confirm time-sensitive requirements with the issuing authority before applying."
      }
    },
    "/api/public/destinations": {
      "get": {
        "tags": [
          "Reference datasets"
        ],
        "operationId": "getDestinations",
        "summary": "Destinations",
        "description": "Destination countries and territories with official immigration portals and adviser regulators. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#destinations"
        },
        "responses": {
          "200": {
            "description": "Destinations JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 233,
        "x-date-modified": "2026-07-22",
        "x-human-path": "https://visaatlas.org/visas",
        "x-primary-source-note": "Figures include links to the relevant official sources. Confirm time-sensitive requirements with the issuing authority before applying."
      }
    },
    "/api/public/policy-updates": {
      "get": {
        "tags": [
          "Reference datasets"
        ],
        "operationId": "getPolicyUpdates",
        "summary": "Policy updates",
        "description": "Dated, source-linked immigration policy changes with affected routes and review information. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#policy-updates"
        },
        "responses": {
          "200": {
            "description": "Policy updates JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 46,
        "x-date-modified": "2026-09-11",
        "x-human-path": "https://visaatlas.org/policy-updates",
        "x-primary-source-note": "Figures include links to the relevant official sources. Confirm time-sensitive requirements with the issuing authority before applying."
      }
    },
    "/api/public/policy-claims": {
      "get": {
        "tags": [
          "Reference datasets"
        ],
        "operationId": "getPolicyClaims",
        "summary": "Policy update claims",
        "description": "Individual source-backed immigration policy claims linked to their update page, affected routes and supporting source. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#policy-claims"
        },
        "responses": {
          "200": {
            "description": "Policy update claims JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 148,
        "x-date-modified": "2026-09-11",
        "x-human-path": "https://visaatlas.org/policy-updates",
        "x-primary-source-note": "Figures include links to the relevant official sources. Confirm time-sensitive requirements with the issuing authority before applying."
      }
    },
    "/api/public/calculator-verdict-contexts": {
      "get": {
        "tags": [
          "Reference datasets"
        ],
        "operationId": "getCalculatorVerdictContexts",
        "summary": "Calculator result context",
        "description": "Dated cut-offs, salary thresholds and financial requirements used to explain immigration calculator results. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#calculator-verdict-contexts"
        },
        "responses": {
          "200": {
            "description": "Calculator result context JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 10,
        "x-date-modified": "2026-09-10",
        "x-human-path": "https://visaatlas.org/calculators",
        "x-primary-source-note": "Each context links to the relevant draw, salary-threshold or financial-requirement source. It helps explain a result but does not predict an immigration decision."
      }
    },
    "/api/public/widgets": {
      "get": {
        "tags": [
          "Reference datasets"
        ],
        "operationId": "getWidgets",
        "summary": "Embeddable tools",
        "description": "Embeddable Visa Atlas calculators and sourced figure badges, with attribution and usage requirements. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#widgets"
        },
        "responses": {
          "200": {
            "description": "Embeddable tools JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 32,
        "x-date-modified": "2026-07-04",
        "x-human-path": "https://visaatlas.org/widgets",
        "x-primary-source-note": "Each tool retains a link to its detailed Visa Atlas page and the relevant official sources."
      }
    },
    "/api/public/search-index": {
      "get": {
        "tags": [
          "Reference datasets"
        ],
        "operationId": "getSearchIndex",
        "summary": "Site search index",
        "description": "Titles, summaries and URLs used by Visa Atlas search for destinations, routes, guides, calculators, data and policy updates. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#search-index"
        },
        "responses": {
          "200": {
            "description": "Site search index JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 1982,
        "x-date-modified": "2026-09-10",
        "x-human-path": "https://visaatlas.org/search",
        "x-primary-source-note": "Search records are generated from the same route, destination, guide and policy data used on the public site."
      }
    },
    "/api/public/processing-reliability": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getProcessingReliability",
        "summary": "Processing-time planning reliability",
        "description": "An assessment of how useful official immigration processing-time information is for planning, based on published windows, ranges and source age. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#processing-reliability"
        },
        "responses": {
          "200": {
            "description": "Processing-time planning reliability JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 99,
        "x-date-modified": "2026-09-11",
        "x-human-path": "https://visaatlas.org/research/processing-time-reliability-index-2026",
        "x-primary-source-note": "Assessments use the source-linked processing-times dataset and describe planning transparency, not individual case outcomes."
      }
    },
    "/api/public/skilled-migration-accessibility": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getSkilledMigrationAccessibility",
        "summary": "Skilled-migration route comparison",
        "description": "Tracked skilled-migration routes compared across costs, financial requirements, salary floors, processing information, sponsorship and settlement. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#skilled-migration-accessibility"
        },
        "responses": {
          "200": {
            "description": "Skilled-migration route comparison JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 30,
        "x-date-modified": "2026-07-01",
        "x-human-path": "https://visaatlas.org/research/skilled-migration-accessibility-index-2026",
        "x-primary-source-note": "Comparisons use source-linked route, cost, salary and processing data. They do not determine personal eligibility or predict an outcome."
      }
    },
    "/api/public/country-comparisons": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getCountryComparisons",
        "summary": "Country comparison data",
        "description": "Country profiles and pair-level immigration trade-offs derived from route, salary, processing, cost and policy data. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#country-comparisons"
        },
        "responses": {
          "200": {
            "description": "Country comparison data JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 3507,
        "x-date-modified": "2026-09-09",
        "x-human-path": "https://visaatlas.org/compare",
        "x-primary-source-note": "Comparisons are compiled from source-linked public datasets and are not legal advice or a personal recommendation."
      }
    },
    "/api/public/fees": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getFees",
        "summary": "Visa and immigration fees",
        "description": "Fee breakdowns by destination and route, with amounts, currencies, worked examples and source links. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#fees"
        },
        "responses": {
          "200": {
            "description": "Visa and immigration fees JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 37,
        "x-date-modified": "2026-09-10",
        "x-human-path": "https://visaatlas.org/fees",
        "x-primary-source-note": "Figures include links to the relevant official sources. Confirm time-sensitive requirements with the issuing authority before applying."
      }
    },
    "/api/public/cost-to-complete": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getCostToComplete",
        "summary": "Visa cost-to-complete models",
        "description": "Route cost models separating non-refundable costs from refundable proof-of-funds requirements, with sourced or clearly labelled indicative line items. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#cost-to-complete"
        },
        "responses": {
          "200": {
            "description": "Visa cost-to-complete models JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 30,
        "x-date-modified": "2026-09-10",
        "x-human-path": "https://visaatlas.org/cost-to-complete",
        "x-primary-source-note": "Figures include links to the relevant official sources. Confirm time-sensitive requirements with the issuing authority before applying."
      }
    },
    "/api/public/salary-thresholds": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getSalaryThresholds",
        "summary": "Salary thresholds",
        "description": "Minimum salary thresholds across 21 destinations and 62 route records, with currency, basis, effective date and source. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#salary-thresholds"
        },
        "responses": {
          "200": {
            "description": "Salary thresholds JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 21,
        "x-date-modified": "2026-09-10",
        "x-human-path": "https://visaatlas.org/salary-thresholds",
        "x-primary-source-note": "Figures include links to the relevant official sources. Confirm time-sensitive requirements with the issuing authority before applying."
      }
    },
    "/api/public/processing-times": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getProcessingTimes",
        "summary": "Processing times",
        "description": "Published or clearly qualified decision-time information by destination and visa route. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#processing-times"
        },
        "responses": {
          "200": {
            "description": "Processing times JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 99,
        "x-date-modified": "2026-09-11",
        "x-human-path": "https://visaatlas.org/processing-times",
        "x-primary-source-note": "Figures include links to the relevant official sources. Confirm time-sensitive requirements with the issuing authority before applying."
      }
    },
    "/api/public/express-entry-draws": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getExpressEntryDraws",
        "summary": "Canada Express Entry draws",
        "description": "Express Entry rounds with category, invitations issued and CRS cut-off score, checked against IRCC. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#express-entry-draws"
        },
        "responses": {
          "200": {
            "description": "Canada Express Entry draws JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 56,
        "x-date-modified": "2026-09-10",
        "x-human-path": "https://visaatlas.org/research/canada-express-entry-draw-tracker",
        "x-primary-source-note": "Figures include links to the relevant official sources. Confirm time-sensitive requirements with the issuing authority before applying."
      }
    },
    "/api/public/express-entry-categories": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getExpressEntryCategories",
        "summary": "Canada Express Entry categories",
        "description": "Current IRCC category-based selection groups with recorded draw activity, invitations and CRS ranges. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#express-entry-categories"
        },
        "responses": {
          "200": {
            "description": "Canada Express Entry categories JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 10,
        "x-date-modified": "2026-09-10",
        "x-human-path": "https://visaatlas.org/research/canada-express-entry-category-tracker",
        "x-primary-source-note": "Rows use IRCC draw records and category-based selection guidance; meeting category criteria does not guarantee an invitation."
      }
    },
    "/api/public/fact-changes": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getFactChanges",
        "summary": "Rules and threshold fact changes",
        "description": "Recorded fee, salary-threshold and processing-time changes with old and new values, effective dates, owning route and source. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#fact-changes"
        },
        "responses": {
          "200": {
            "description": "Rules and threshold fact changes JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 7,
        "x-date-modified": "2026-03-01",
        "x-human-path": "https://visaatlas.org/changelog",
        "x-primary-source-note": "Figures include links to the relevant official sources. Confirm time-sensitive requirements with the issuing authority before applying."
      }
    },
    "/api/public/monthly-figure-changes": {
      "get": {
        "tags": [
          "Figure datasets"
        ],
        "operationId": "getMonthlyFigureChanges",
        "summary": "Monthly immigration figure changes",
        "description": "Month-by-month archive of recorded fee, salary-threshold and processing-time changes with source links and policy context. Reuse under CC BY 4.0 with attribution to Visa Atlas; keep the relevant government-source URL and record date with copied factual values.",
        "externalDocs": {
          "description": "Dataset notes",
          "url": "https://visaatlas.org/data#monthly-figure-changes"
        },
        "responses": {
          "200": {
            "description": "Monthly immigration figure changes JSON response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericJsonResponse"
                }
              }
            }
          }
        },
        "x-record-count": 5,
        "x-date-modified": "2026-07-01",
        "x-human-path": "https://visaatlas.org/research/monthly-immigration-figure-changes",
        "x-primary-source-note": "This archive records changes captured by Visa Atlas; it is not a complete record of every immigration policy change worldwide."
      }
    },
    "/api/public/route-finder": {
      "get": {
        "tags": [
          "Route matching"
        ],
        "operationId": "getRouteFinderContract",
        "summary": "Route-finder contract",
        "description": "Returns the request shape, limitations and an example response.",
        "externalDocs": {
          "description": "Human route finder",
          "url": "https://visaatlas.org/triage"
        },
        "responses": {
          "200": {
            "description": "Route-finder contract.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteFinderContract"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Route matching"
        ],
        "operationId": "findRoutes",
        "summary": "Find potentially relevant visa routes",
        "description": "Deterministic profile-to-route matching over indexable Visa Atlas visa routes, returning ranked route candidates with canonical pages, source URLs and review dates.",
        "externalDocs": {
          "description": "Human route finder",
          "url": "https://visaatlas.org/triage"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RouteFinderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Ranked route candidates with source links.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteFinderResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-legal-note": "Informational route matching only, not legal advice or an eligibility decision. Confirm the returned route against the linked government source and, where needed, a qualified immigration adviser.",
        "x-version": "2026-07-03"
      }
    }
  },
  "components": {
    "schemas": {
      "OpenApiDocument": {
        "type": "object",
        "required": [
          "openapi",
          "info",
          "paths"
        ],
        "properties": {
          "openapi": {
            "type": "string"
          },
          "info": {
            "type": "object"
          },
          "paths": {
            "type": "object"
          }
        }
      },
      "GenericJsonResponse": {
        "type": "object",
        "additionalProperties": true
      },
      "PublicDatasetCatalog": {
        "type": "object",
        "required": [
          "datasets",
          "catalogJsonld",
          "jsonld"
        ],
        "properties": {
          "datasets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicDataset"
            }
          },
          "catalogJsonld": {
            "type": "object",
            "additionalProperties": true
          },
          "jsonld": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "PublicDataset": {
        "type": "object",
        "required": [
          "id",
          "path",
          "title",
          "description",
          "recordCount",
          "dateModified",
          "category",
          "license",
          "attribution"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "path": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "recordCount": {
            "type": "integer",
            "minimum": 0
          },
          "dateModified": {
            "type": "string",
            "format": "date"
          },
          "category": {
            "enum": [
              "reference",
              "figures"
            ]
          },
          "humanPath": {
            "type": "string"
          },
          "apiDocsPath": {
            "type": "string"
          },
          "keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "license": {
            "const": "CC BY 4.0"
          },
          "attribution": {
            "const": "Visa Atlas"
          },
          "primarySourceNote": {
            "type": "string"
          }
        }
      },
      "RouteFinderRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "professionSlug": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "nationalityIso": {
            "type": "string",
            "minLength": 2,
            "maxLength": 20
          },
          "targetDestinations": {
            "type": "array",
            "maxItems": 12,
            "items": {
              "type": "string"
            }
          },
          "sponsorshipAvailable": {
            "enum": [
              "yes",
              "no",
              "unsure"
            ]
          },
          "needsSettlement": {
            "type": "boolean"
          },
          "hasHigherEducation": {
            "type": "boolean"
          },
          "hasLanguageB2": {
            "type": "boolean"
          },
          "capitalBand": {
            "enum": [
              "none",
              "under-50k",
              "50k-250k",
              "250k-plus"
            ]
          },
          "ageBand": {
            "enum": [
              "under-30",
              "30-44",
              "45-plus"
            ]
          },
          "salaryBand": {
            "enum": [
              "under-25k",
              "25k-40k",
              "40k-60k",
              "60k-90k",
              "90k-150k",
              "150k-plus"
            ]
          },
          "dependants": {
            "type": "integer",
            "minimum": 0,
            "maximum": 10
          },
          "routeIntent": {
            "enum": [
              "move",
              "work",
              "study",
              "family",
              "visit",
              "business-trip",
              "remote-work",
              "invest",
              "citizenship",
              "protection"
            ]
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "default": 8
          }
        }
      },
      "RouteFinderResponse": {
        "type": "object",
        "required": [
          "version",
          "name",
          "legalNote",
          "count",
          "returned",
          "results"
        ],
        "properties": {
          "version": {
            "type": "string",
            "format": "date"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "legalNote": {
            "type": "string"
          },
          "warnings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "count": {
            "type": "integer",
            "minimum": 0
          },
          "returned": {
            "type": "integer",
            "minimum": 0
          },
          "dateModified": {
            "type": "string",
            "format": "date"
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RouteFinderResult"
            }
          }
        }
      },
      "RouteFinderContract": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RouteFinderResponse"
          },
          {
            "type": "object",
            "properties": {
              "exampleRequest": {
                "$ref": "#/components/schemas/RouteFinderRequest"
              }
            }
          }
        ]
      },
      "RouteFinderResult": {
        "type": "object",
        "required": [
          "rank",
          "score",
          "reasons",
          "canonicalUrl",
          "route",
          "sources"
        ],
        "properties": {
          "rank": {
            "type": "integer",
            "minimum": 1
          },
          "score": {
            "type": "number",
            "description": "Ordering score only; not an official eligibility score."
          },
          "reasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "canonicalUrl": {
            "type": "string",
            "format": "uri"
          },
          "route": {
            "type": "object",
            "additionalProperties": true
          },
          "sources": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "sourceUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "issues": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      }
    }
  },
  "x-attribution": "Visa Atlas",
  "x-license": "https://creativecommons.org/licenses/by/4.0/",
  "x-primary-source-policy": "Keep the Visa Atlas canonical URL, relevant government-source URL and record date attached to copied factual values.",
  "x-legal-note": "Informational route matching only, not legal advice or an eligibility decision. Confirm the returned route against the linked government source and, where needed, a qualified immigration adviser."
}